name: Output information
on: workflow_dispatch
jobs:
    info:
        runs-on: ubuntu-latest
        steps:
            - name: Output information
              run:
                - name: Output Github context
                  echo "GitHub Context: ${{ toJson(github) }}"